/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --first-color: #18a7c2;
  --first-color-alt: #d2780e;
  --first-color-send: #646464;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #3a3a3a;
  --body-color: #FEFBFB;
  --container-color: #FFF;
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --font-semi-bold: 600;
  --font-bold: 700;
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body.dark-theme{
	background-image: url('testx.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
	background-color: var(--body-color);
	color: var(--text-color);
	--title-color: #161212;
	--text-color: #5B5757;
	background-color: var(--body-color);
	--body-color: #FFF;
	--first-color-send: rgba(45,94,103,0.85);
	--container-color: rgba(255,255,255,0.3);
	--text-color-light: #3a3a3a;
}
.change-theme{
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}
body{
	background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.52), rgba(35, 35, 35, 0.53), rgba(0, 130, 175, 0.43)),
    url('test2.jpg');
	--body-color: #0f0f0f;
	background-size: 100%;
    background-repeat: no-repeat;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--body-color);
  --title-color: #F3F1F1;
  --text-color: #F3F1F1;
  line-height: 1.6;
  --first-color-send: rgba(29,29,35,0.75);
  --container-color: rgba(0,0,0,0.5);
  --text-color-light: #fff;
}
h2,h3,ul,p{
  margin: 0;
}
h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
h1{
	font-family: "Jura", sans-serif;
	color: var(--title-color);
	margin: 0;
	animation: flicker 3s infinite;
}
@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}
ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-title-center{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}
.l-main{
  overflow: hidden;
}
.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
.bd-grid{
  display: grid;
  gap: 1.5rem;
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-3);
}

.nav__link, .nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo{
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
	margin-top: 1px;
	cursor: not-allowed;
}

.nav__logo > img {
	width: 32px;
	height: 32px;
	margin-top: 10px;
	cursor: not-allowed;
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(0,140,120,.7);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color);
}

.scrolltop__icon{
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container{
  row-gap: .5rem;
}

.home__img{
  width: 100%;
  height: auto;
  justify-self: center;
}

.home__img iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home__img::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home__description{
  margin-bottom: var(--mb-3);
  font-size: 25px;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
  box-shadow: 0 0 40px 40px #d2780e inset;
  color: #000;
  padding: 0.7rem 1.2rem;
}

.button-link{
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}

/*========== SHARE ==========*/
.share__data{
  text-align: center;
}

.share__description{
  margin-bottom: var(--mb-2);
}

.share__img{
  width: 280px;
  justify-self: center;
}
/*========== Progress ==========*/
.body2
{
	background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.body2 .body-container
{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}
.body2 .body-container .body-section
{
	display: inline-block;
}
.body2 .body-container .body-section span
{
	display: block;
	text-align: center;
	margin: 20px;
}
.body2 .body-container .body-section img
{
	height: 300px;
	width: auto;
}
.body2 .body-container .body-section a
{
	text-decoration: none;
	color: #fff;
	font-size: 19px;
	border: 0px solid transparent;
	border-radius: 15px 30px 30px 0px;
	padding: 10px 20px;
	background: #c35d00;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	transition: 0.5s ;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.body2 .body-container .body-section a:hover
{
	background: linear-gradient(45deg, rgba(41, 98, 255,0.8),rgba(255, 120, 0,0.8));
	padding: 15px 25px;
}
.body2 .body-container .body-section .btn
{
	padding-top: 30px;
}
.body2 .body-container .body-section .border
{
	
	height: 3px;
	width: 200px;
	background: linear-gradient(90deg,#00E5FF,#d25900);
	margin: 10px auto;
}	

.body2 .body-container .body-section .count
{
	color: #f97a1d;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 40px;
}
.body2 .body-container .body-section .text1
{
	max-width: 600px;
	color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width:768px){
	.body2 .body-container .body-section img{
		height: 250px;
		width: auto;
		padding-top: 20px;
	}
}
@media screen and (max-width:480px){
	.body2 .body-container .body-section img{
		height: 150px;
		width: auto;
		padding-top: 20px;
	}
}

 count {
	 font: 800 40px system-ui;
	 padding: 10rem;
}
/*========== Loader ==========*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: linear-gradient(166deg, rgba(30, 30, 30,100%), rgba(0, 0, 0, 100%));
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*========== ACESSORIES ==========*/
.accessory__container{
  grid-template-columns: repeat(2,1fr);
  padding-bottom: 2rem;
}

.accessory__content{
  position: relative;
  display: grid;
  padding: .25rem .75rem .75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  border-radius: 1rem;
}

.accessory__content:hover{
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.accessory__img{
  width: 110px;
  justify-self: center;
  margin-bottom: .25rem;
}

.accessory__title, .accessory__category{
  text-align: center;
}

.accessory__title{
  font-size: var(--normal-font-size);
}

.accessory__category{
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.accessory__preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.accessory__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: .5rem .625rem;
  border-radius: 1rem 0 1rem 0;
}

/*========== SEND GIFT ==========*/
.send{
  background-image: linear-gradient(to right, rgba(29,29,35,1), rgba(50,50,50,1));
}

.send__title, .send__description{
  color: #fff;
}

.send__description{
  text-align: center;
  margin-bottom: var(--mb-4);
}

.send__direction{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .5rem;
  border-radius: .5rem;
}

.send__input{
  width: 70%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.send__input::placeholder{
  font-family: var(--body-font);
}

.send__img{
  width: 280px;
  justify-self: center;
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo{
  color: var(--title-color);
}

.footer__title{
  margin-bottom: var(--mb-2);
  text-decoration: underline;
}

.footer__title:hover{
	cursor: not-allowed;
	animation: flicker 2s infinite;
}
@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}
.footer__logo, .footer__title{
  font-size: var(--h3-font-size);
}

.footer__link{
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px){
  .home__img,
  .share__img,
  .send__img{
    width: 100%;
  }
  .send{
    background: none;
  }

  .send__container{
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
  .accessory__container{
	grid-template-columns: repeat(1,260px);
}
.button{
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
  display: inline-block;
  margin-bottom:16px;
}

.button input:last-child{
margin-bottom:0px;
/*so the last one dont push the div thas giving the space only between the inputs*/
}
}

@media screen and (min-width: 576px){
  .home__container,
  .share__container,
  .send__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .home__container{
    padding: 5rem 0 0;
  }

  .home__img{
    order: 1;
  }

  .section-title-center,
  .share__data,
  .send__description{
    text-align: initial;
  }

  .home__img,
  .share__img,
  .send__img{
    width: 100%;
  }
  
  .share__img{
    order: -1;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 7rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list{
    display: flex;
    align-items: center;
  }

  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container{
    padding: 7rem 2rem 0;
  }

  .share__container{
    padding: 0 2rem;
  }

  .accessory__container{
    grid-template-columns: repeat(3,224px);
    justify-content: center;
  }

  .accessory__content{
    padding: .5rem 1.5rem 1.5rem;
  }

  .accessory__img{
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .accessory__title, .accessory__category{
    text-align: initial;
  }

  .accessory__button{
    padding: .75rem;
  }

  .send{
    background: none;
  }

  .send__container{
    background-image: linear-gradient(to right, rgba(29,29,35,1), rgba(60,60,70,1));
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .share__img,
  .send__img{
    width: 469px;
  }

  .home__container,
  .share__container,
  .send__container{
    column-gap: 5rem;
  }
}
